/* reset */
* { border:0; margin:0; padding:0; }
ul { padding-left:1.2em; }

/* centering(vertical&horizontal) */
html { height:100%; width:100%; display:table; }
body { height:100%; display:table-cell; vertical-align:middle; }
section.center { text-align:center; margin:0 auto; }

/* fixPagePosition */
#page { position:fixed; bottom:0; right:1em; color:#ccc; }

/* someDesign... */
body { font-size:30px; }
section h1 { font-size:3em; line-height:1.2; }
section .aa { font-family:"Courier", "Arial", sans-serif; font-weight:normal; } /* for QB's AA */
